<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>world_of_insects</title>
</head>
<body>
    <div style="width: 100%; height: 100%; background: white; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="width: 1440px; height: 1024px; position: relative; background: white; border: 2px white solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 1440px; height: 1024px; background: #F7E9B3"></div>
            <img style="width: 629px; height: 1024px" src="https://via.placeholder.com/629x1024" />
            <div style="width: 856px; height: 106px; position: relative">
                <div class="WorldOfInsects" style="width: 744px; height: 94px; left: 112px; top: 12px; position: absolute; color: #D9901C; font-size: 48px; font-family: Jua; font-weight: 400; word-wrap: break-word">World of insects</div>
                <div style="width: 111.55px; height: 83.47px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 25px; left: 41px; top: 0px; position: absolute; background: black; border-radius: 9999px; border: 1px black solid"></div>
                    <div style="width: 64px; height: 71px; left: 24px; top: 12px; position: absolute; background: #F1676A; border-radius: 9999px; border: 3px black solid"></div>
                    <div style="width: 11.06px; height: 23.55px; left: 85px; top: 12px; position: absolute">
                        <div class="Line1" style="width: 15px; height: 0px; left: 0px; top: 23.55px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 11.06px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 77px; top: 66.82px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 16.65px; top: 16.65px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 18.43px; top: 2.79px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 111.55px; top: 47px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: -23.55px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -15px; top: 11.06px; position: absolute; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 27.06px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 0px; top: 23.55px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -11.06px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 0px; top: 47px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 23.55px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 15px; top: 11.06px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 34.47px; top: 66.82px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: -16.65px; top: 16.65px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -18.43px; top: 2.79px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 65px; height: 0px; left: 56px; top: 80px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    <div style="width: 10px; height: 10px; left: 41px; top: 25px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 31px; top: 37px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 71px; top: 37px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 61px; top: 54px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 61px; top: 25px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 41px; top: 54px; position: absolute; background: black; border-radius: 9999px"></div>
                </div>
            </div>
            <div style="width: 558px; height: 117px; position: relative">
                <div style="width: 558px; height: 117px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px"></div>
                <div style="width: 520px; height: 117px; left: 12px; top: 0px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Узнайте о мире насекомых вместе с нами</div>
            </div>
            <div style="width: 554px; height: 274px; position: relative">
                <div style="width: 554px; height: 245px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px"></div>
                <div style="width: 399px; height: 110px; left: 120px; top: 164px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Симулятор</div>
                <div style="width: 261px; height: 49px; left: 120px; top: 101px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Энциклопедия</div>
                <div style="width: 40px; height: 40px; left: 57px; top: 90px; position: absolute; background: rgba(161.92, 255, 68.85, 0.66)"></div>
                <div style="width: 431px; height: 53px; left: 57px; top: 34px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Функции сайта:<br/></div>
            </div>
        </div>
        <div style="width: 1440px; height: 1024px; position: relative; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 1440px; height: 1024px; background: #F7E9B3; border: 1px white solid"></div>
            <div style="width: 790px; height: 643px; position: relative">
                <div style="width: 790px; height: 643px; left: 0px; top: 0px; position: absolute; background: white; border: 1px white solid"></div>
                <div style="width: 620px; height: 356px; left: 106px; top: 223px; position: absolute; color: #D9901C; font-size: 48px; font-family: Alice; font-weight: 400; word-wrap: break-word">Этот сайт создан для изучения мира насекомых в интерактивном формате </div>
            </div>
            <div style="width: 416px; height: 297px; position: relative">
                <div class="1" style="width: 416px; height: 100px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px"></div>
                <div style="width: 249px; left: 83px; top: 30px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Энциклопедия</div>
                <div style="width: 40px; height: 40px; left: 26px; top: 27px; position: absolute; background: rgba(161.92, 255, 68.85, 0.66)"></div>
                <div class="2" style="width: 416px; height: 100px; left: 0px; top: 197px; position: absolute; background: white; border-radius: 20px"></div>
                <div style="width: 249px; left: 83px; top: 227px; position: absolute; color: #D9901C; font-size: 32px; font-family: Alice; font-weight: 400; word-wrap: break-word">Симуляторы</div>
            </div>
            <div style="width: 1240px; height: 263px; position: relative">
                <img class="1" style="width: 370px; height: 263px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/370x263" />
                <img class="3" style="width: 370px; height: 263px; left: 870px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/370x263" />
                <img class="2" style="width: 370px; height: 263px; left: 435px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/370x263" />
            </div>
        </div>
        <div style="width: 1440px; height: 500px; position: relative; background: white; border: 2px white solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 1440px; height: 500px; background: rgba(161.92, 255, 68.85, 0.66)"></div>
            <div style="width: 735px; height: 21px; color: black; font-size: 30px; font-family: Jua; font-weight: 400; word-wrap: break-word">*здесь будут контактные данные и информация о проекте</div>
        </div>
    </div> 
</body>
</html>

