<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>World_Of_Insects</title>
</head>
<body>
    <div style="width: 100%; height: 100%; background: white; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="width: 1440px; height: 1024px; position: relative; background: white; border: 1px white solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 1440px; height: 1024px; background: #F7E9B3"></div>
            <div style="width: 856px; height: 106px; position: relative">
                <div class="WorldOfInsects" style="width: 744px; height: 94px; left: 112px; top: 12px; position: absolute; color: #D9901C; font-size: 48px; font-family: Jua; font-weight: 400; word-wrap: break-word">World of insects</div>
                <div style="width: 111.55px; height: 83.47px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 25px; left: 41px; top: 0px; position: absolute; background: black; border-radius: 9999px; border: 1px black solid"></div>
                    <div style="width: 64px; height: 71px; left: 24px; top: 12px; position: absolute; background: #F1676A; border-radius: 9999px; border: 3px black solid"></div>
                    <div style="width: 11.06px; height: 23.55px; left: 85px; top: 12px; position: absolute">
                        <div class="Line1" style="width: 15px; height: 0px; left: 0px; top: 23.55px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 11.06px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 77px; top: 66.82px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 16.65px; top: 16.65px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 18.43px; top: 2.79px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 111.55px; top: 47px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: -23.55px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -15px; top: 11.06px; position: absolute; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 27.06px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 0px; top: 23.55px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -11.06px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 0px; top: 47px; position: absolute; transform: rotate(90deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: 23.55px; top: 0px; position: absolute; transform: rotate(135deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: 15px; top: 11.06px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 11.06px; height: 23.55px; left: 34.47px; top: 66.82px; position: absolute; transform: rotate(-135deg); transform-origin: 0 0">
                        <div class="Line1" style="width: 15px; height: 0px; left: -16.65px; top: 16.65px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                        <div class="Line3" style="width: 15px; height: 0px; left: -18.43px; top: 2.79px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px black solid"></div>
                    </div>
                    <div style="width: 65px; height: 0px; left: 56px; top: 80px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px black solid"></div>
                    <div style="width: 10px; height: 10px; left: 41px; top: 25px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 31px; top: 37px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 71px; top: 37px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 61px; top: 54px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 61px; top: 25px; position: absolute; background: black; border-radius: 9999px"></div>
                    <div style="width: 10px; height: 10px; left: 41px; top: 54px; position: absolute; background: black; border-radius: 9999px"></div>
                </div>
            </div>
            <div style="color: #D9901C; font-size: 48px; font-family: Alice; font-weight: 400; word-wrap: break-word">Симуляторы</div>
            <div style="width: 1053px; height: 265px; position: relative">
                <div style="width: 1053px; height: 265px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 120px"></div>
                <div style="width: 904px; height: 145px; left: 56px; top: 55px; position: absolute; color: #D9901C; font-size: 32px; font-family: Jua; font-weight: 400; word-wrap: break-word">Симуляторы помогают наглядно увидеть те или иные аспекты жизни насекомых. Мы предоставляем симуляторы приёма пищи и тд...</div>
            </div>
        </div>
        <div style="width: 1440px; height: 1024px; position: relative; background: white; border: 1px white solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 1440px; height: 1024px; background: #F7E9B3"></div>
            <div style="width: 820px; height: 907px; position: relative">
                <div style="width: 820px; height: 907px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 120px"></div>
                <div style="width: 733px; height: 783px; left: 44px; top: 75px; position: absolute; background: #CECECE; border-radius: 120px"></div>
                <div style="width: 576px; height: 213px; left: 98px; top: 348px; position: absolute; color: black; font-size: 21px; font-family: Jua; font-weight: 400; word-wrap: break-word">симулятор</div>
            </div>
            <div style="width: 400px; height: 907px; position: relative">
                <div style="width: 400px; height: 907px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 120px"></div>
                <div style="width: 259px; height: 213px; left: 104px; top: 51px; position: absolute; color: black; font-size: 21px; font-family: Jua; font-weight: 400; word-wrap: break-word">выбор симулятора</div>
            </div>
            <div style="width: 375px; height: 702px; position: relative">
                <div style="width: 375px; height: 120px; left: 0px; top: 582px; position: absolute; background: #A2FF45; border-radius: 120px"></div>
                <div style="width: 375px; height: 120px; left: 0px; top: 388px; position: absolute; background: #A2FF45; border-radius: 120px"></div>
                <div style="width: 375px; height: 120px; left: 0px; top: 194px; position: absolute; background: #A2FF45; border-radius: 120px"></div>
                <div style="width: 375px; height: 120px; left: 0px; top: 0px; position: absolute; background: #A2FF45; border-radius: 120px"></div>
                <div class="1" style="width: 295px; height: 50px; left: 80px; top: 35px; position: absolute; color: black; font-size: 32px; font-family: Jua; font-weight: 400; word-wrap: break-word">Симулятор 1</div>
                <div class="2" style="width: 295px; height: 50px; left: 80px; top: 229px; position: absolute; color: black; font-size: 32px; font-family: Jua; font-weight: 400; word-wrap: break-word">Симулятор 2</div>
                <div class="3" style="width: 295px; height: 50px; left: 73px; top: 418px; position: absolute; color: black; font-size: 32px; font-family: Jua; font-weight: 400; word-wrap: break-word">Симулятор 3</div>
                <div class="4" style="width: 295px; height: 50px; left: 73px; top: 612px; position: absolute; color: black; font-size: 32px; font-family: Jua; font-weight: 400; word-wrap: break-word">Симулятор 4</div>
            </div>
        </div>
    </div>
</body>
</html>   